<span id="loading-status" style="font-size:x-large" [hidden]="isLoaded">Cargando libreria...</span>
<br/>
 
<div class="select" [hidden]="!isLoaded">
<h1 for="videoSource">Escanear producto</h1>
<mat-form-field *ngIf="selectedCamera">
    <mat-label>Seleccionar camara</mat-label>
    <mat-select id="videoSource" [(value)]="selectedCamera" (selectionChange)="openCamera($event)">
        <mat-option *ngFor="let camera of cameras" [value]="camera.deviceId">
        {{ camera.label }}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>
 
<div id="videoview">
<div class="dce-video-container" id="videoContainer"></div>
<canvas id="overlay"></canvas>
</div>

 