.recuperar{
    align-items: center;
    justify-content: center;
    background-image: url('https://plus.unsplash.com/premium_photo-1681487916420-8f50a06eb60e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.cancelar{
    margin: 1em;
}

.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
    margin: 0; 
    padding: 4em;
}

.mat-mdc-form-field{
    margin-top: 1em;
}
.mat-mdc-card{
    margin:auto;
    height: 50%;
    max-width: 500px;
}

.mat-mdc-card-header{
    padding: 2em;
    justify-content: center;
    /* background-color: black; */
    background-image: linear-gradient(#74101D,#DA1E37);
    font-family: "Noto Sans", sans-serif;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.mat-mdc-card-title{
    font-size: xx-large;
}

.mat-mdc-card-content{
    padding: 2em;
}

.mat-mdc-card-actions{
    padding: 2em;
    padding-top: 0;
    justify-content: end;
}

.entrada{
    width: 100%;
}

.icon{
    vertical-align: middle;
}

.enviar{
    padding: 1em;
    font-weight: 500;
}

.enviar:enabled{
    color: white;
    background-color: black;
}
.enviar:disabled{
    background-color: lightgray;
}