<div class="contenido">
  <form class="buscar">
      <mat-form-field class="busqueda">
        <input type="text"
               placeholder="Buscar producto"
               matInput
               [formControl]="miform">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          @for (producto of filteredOptions | async ; track producto) {
            <mat-option [value]="producto.id">{{producto.id}} | {{producto.nombre}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-card>
        <mat-card-content class="todos">
          <div *ngFor="let producto of filteredProductos" class="prod">
            <div class="productocarrito"> 
              <p>{{producto.nombre}}</p>
              <div  class="precioitem">
                <b>{{producto.precioVenta}}</b>€ <button mat-icon-button (click)="addProducto(producto)"><span class="material-symbols-outlined">shopping_cart</span></button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </form>

    <!-- //Carrito -->
    <mat-card class="cesta">
      <mat-card-header>
        <mat-card-title>Cesta</mat-card-title>
      </mat-card-header>
      <mat-card-content class="listacesta">
        <div *ngFor="let producto of productos; let i  = index" class="productocarrito">
          <div class="datos">
            <p>{{producto.nombre}}</p>
          </div>
          <div class="acciones">
            <p>{{producto.precioVenta}}€</p>
            <mat-form-field class="cantidad" appearance="outline" subscriptSizing="dynamic">
              <input type="number" class="numerocantidad" matInput [(ngModel)]="producto.cantidad" (change)="onCantidadChange(producto)" min="1" />
            </mat-form-field>
            <button mat-icon-button (click)="deleteProductoCarrito(producto)">
                <span class="material-symbols-outlined">close</span>
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
          <a>Total: <b>{{ total() | currency:'EUR':'symbol':'1.2-2' }}</b></a>
        <button *ngIf="total()!= 0" type="button" mat-button (click)="realizarCompra()">Pagar</button>
      </mat-card-actions>
    </mat-card>
</div>
