.header{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0;
  text-align: center;
  background-image: linear-gradient(to right,#aae7cd,#1E2E35);
}

h2{
  margin: auto;
  font-size:xx-large;
  font-family: "Gabarito", sans-serif;
}

a{
  font-size:x-large;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: #1E2E35;
}

button{
  color: white;
  transition: all 0.2s ease-in-out;
}

button:hover{
  color: #1E2E35;
}