:host {
    display: flex;
    flex-direction: column;
    font-family: "Gabarito", sans-serif;
}

.box{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3em;
    border-radius: 5px;
    font-size: large;
    /* width: fit-content;
    height: fit-content; */
    transition: all 0.2s ease-in-out;
    color: #1E2E35;
}

.box:hover{
    background-color: #1E2E35;
    color: #aae7cd;
}

.contenido{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding: 4em;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 60px;
    font-weight: bold;
}