.funciones{
    background-image: linear-gradient(#E3F9ED,#1E2E35);
    text-align: left;
    margin: 0em 2em;
    padding: 2em;
    border-radius: 10px;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.grupo{
    display: grid;
    grid-template-columns: auto auto;
}

.caja{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.caja2{
    background-color: #1E2E35;
    color: white;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
  
.box-content {
    height: 0;
    opacity: 0;
    padding: 1em;
    transition: all 0.5s ease-in-out;
}
  
.box-content.expanded {
    height: auto;
    opacity: 1;
}

.bc1{
    background-image: url(https://cdn.dribbble.com/users/1220941/screenshots/11463637/media/73d1a3758fd18a336cf36a3b1d5ffa1d.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.funcion1{
    background-color: white;
    background-image: url(https://cdn.dribbble.com/users/1220941/screenshots/11463637/media/73d1a3758fd18a336cf36a3b1d5ffa1d.gif);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    margin:1em;
    padding: 2em;

}

.funcion2{
    background-color: white;
    background-image: url(https://cdn.dribbble.com/users/1220941/screenshots/11463637/media/73d1a3758fd18a336cf36a3b1d5ffa1d.gif);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    margin:1em;
    padding: 2em;
    align-items: center;
}

.sub{
    margin:2em;
}

h1{
    color: #1E2E35;
    font-family: "Gabarito", sans-serif;
    font-size: 40px;
    margin: 1em;
}

h2{
    font-family: "Gabarito", sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

h3{
    font-family: "Gabarito", sans-serif;
    font-weight:lighter;
    font-size: 24px;
}

p{
    font-size: 16px;
}

ul{
    width: 80%;
}

li{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}