<div class="funciones">
    <div class="titulo">
        <h2>Funciones principales</h2>
        <p>Bienvenido a nuestra plataforma diseñada para optimizar la gestión de tu tienda de alimentación.</p> 
        <p>Descubre las potentes funcionalidades que ofrecemos para facilitar la administración de tus productos y la comunicación con tus proveedores:</p>
        <div class="lista">
            <ol>
                <li>
                    <h3>Gestión de Inventario Eficiente:</h3>
                    <p>Mantén un control preciso sobre tus existencias. Actualiza fácilmente los productos disponibles, realiza seguimiento de stocks y genera órdenes de reposición de manera rápida y eficiente.</p>
                </li>
                <li>
                    <h3>Comunicación Directa con Proveedores:</h3>
                    <p>Simplifica tus interacciones con los proveedores. Envía solicitudes de productos directamente desde la plataforma, recibe notificaciones automáticas sobre cambios en inventario y precios, y gestiona tus relaciones comerciales de manera efectiva.</p>
                </li>
                <li>
                    <h3>Accesibilidad Móvil para Flexibilidad Operativa:</h3>
                    <p>Accede a todas las funcionalidades desde cualquier dispositivo móvil a través de un navegador web. Esta característica mejora la movilidad y flexibilidad de tu equipo, permitiéndoles gestionar la tienda sobre la marcha.</p>
                </li>
                <li>
                    <h3>Análisis Avanzado para Decisiones Estratégicas:</h3>
                    <p>Obtén insights valiosos a través de análisis de datos avanzado. Optimiza tus compras y toma decisiones estratégicas basadas en información detallada sobre el rendimiento de tus productos.</p>
                </li>
                <li>
                    <h3>Soporte Personalizado y Capacitación Continua:</h3>
                    <p>Recibe soporte prioritario y personalizado para resolver cualquier consulta o problema. Además, ofrecemos capacitación y asesoría especializada para aprovechar al máximo todas las capacidades de nuestra plataforma.</p>
                </li>
            </ol>
        </div>
        <p>¡Explora estas funciones y descubre cómo nuestra plataforma puede impulsar la eficiencia y el éxito de tu tienda de alimentación!</p>
    </div>
</div>
