.funciones{
    text-align: left;
    margin: 0em 2em;
    padding: 2em;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.grupo{
    background-image: linear-gradient(#E3F9ED,#1E2E35);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
    gap: 1em;
}

.caja{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.caja2{
    background-color: #1E2E35;
    color: white;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
  
.box-content {
    height: 0;
    opacity: 0;
    padding: 1em;
    transition: all 0.4s ease-in-out;
}
  
.box-content.expanded {
    height: auto;
    opacity: 1;
}

.bc1{
    background-image: url(https://cdn.dribbble.com/users/1220941/screenshots/11463637/media/73d1a3758fd18a336cf36a3b1d5ffa1d.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bc2{
    background-image: url(https://i.pinimg.com/originals/39/79/6a/39796ac6bf7fb5abd5814c8f61bf3ab1.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bc3{
    background-image:url(https://s12.gifyu.com/images/SY1Sz.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.bc4{
    background-image: url(https://lordicon.com/icons/wired/outline/757-delivery.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.sub{
    margin:2em;
}

h1{
    color: #1E2E35;
    font-family: "Gabarito", sans-serif;
    font-size: 40px;
    margin: 1em;
}

h2{
    font-family: "Gabarito", sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

h3{
    font-family: "Gabarito", sans-serif;
    font-weight:lighter;
    font-size: 24px;
}

p{
    font-family: "Gabarito", sans-serif;
    font-size: 16px;
}

ul{
    width: 80%;
}

li{
    font-size: 16px;
    font-family: "Gabarito", sans-serif;
    text-align: left;
}

@media (max-width: 768px){
    .grupo{
      grid-template-columns: auto;
    }

    .bc1{
        background-image: none;
        padding: 0;
    }
    .bc2{
        background-image: none;
        padding: 0;
    }
    .bc3{
        background-image: none;
        padding: 0;
    }
    .bc4{
        background-image: none;
        padding: 0;
    }
    .funciones{
        padding: 0em;
        margin: 1em;
    }
    h1{
        font-size: large;
    }
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
    li{
        font-size: small;
    }
    .caja{
        padding: 1em;
    }
    .caja2{
        padding: 1em;
    }
}