<h1 mat-dialog-title>Edit Product</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock">
    </mat-form-field>
    <mat-form-field *ngIf="role == 'Establecimiento'">
      <mat-label>Precio Coste</mat-label>
      <input matInput formControlName="precio_coste">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio Venta</mat-label>
      <input matInput formControlName="precio_venta">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button class="guardar" mat-button (click)="onSave()">Guardar</button>
</div>
