<h1 mat-dialog-title>Edit Product</h1>
<div mat-dialog-content>
  <br>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock">
    </mat-form-field><br>
    <mat-form-field appearance="outline" *ngIf="data.role == 'ESTABLECIMIENTO'">
      <mat-label>Precio Coste</mat-label>
      <input matInput formControlName="precioCoste">
    </mat-form-field><br *ngIf="data.role == 'ESTABLECIMIENTO'">
    <mat-form-field appearance="outline">
      <mat-label>Precio Venta</mat-label>
      <input matInput formControlName="precioVenta">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button class="guardar" mat-button (click)="onSave()">Guardar</button>
</div>
