.header{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0;
  text-align: center;
  background-color: white;
}

h2{
  margin: auto;
  font-size:x-large;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.icons{
  float: right;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: gray;
}