<div class="header">
    <mat-grid-list cols="2" rowHeight="75px">
        <mat-grid-tile><a [routerLink]="['']"><h2>SpringMarket</h2></a></mat-grid-tile>
        <mat-grid-tile class="paginas">
            <a [routerLink]="['/Menu']"><h3>Menu</h3></a>   
            <a href="#funciones"><h3>Funciones</h3></a>   
            <a [routerLink]="['/Cuenta']"><h3>Cuenta          
                <span class="material-symbols-outlined">
                account_circle
                </span></h3>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>