<div class="header">
    <mat-grid-list cols="3" rowHeight="75px">
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <a [routerLink]="['']">
                <h2>SpringMarket</h2>
            </a>
        </mat-grid-tile>
        <mat-grid-tile class="paginas">
            <a [routerLink]="['/Cuenta']">
                <h3>Cuenta <span class="material-symbols-outlined">
                account_circle
                </span></h3>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>