:host {
    display: flex;
    /* flex: ; */
    flex-direction: column;
    /* height: 100vh; */
}

/* .mat-drawer-container{
    
} */

.mat-drawer-content{
    /* display: flex;
    flex: 1; */
}

.mat-drawer {
    width: 100px;
    padding: 1em;
    background-color: #1E2E35;
}

.mat-grid-list{
    background-color: #1E2E35;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.mat-grid-tile{
    border: none;
    color: #96EEC8;
    background-color: #1E2E35;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.mat-grid-tile:hover{
    color: #1E2E35;
    background-color: #96EEC8;
}

.active{
    color: #1E2E35;
    background-color: #96EEC8;
}

.cuenta{ 
    display: flex;

}