<app-userheader></app-userheader>
<mat-drawer-container class="cuerpo">
    <mat-drawer mode="side" opened>
            <!-- <mat-grid-list [cols]="role == 'Establecimiento'? 5 : 3" rowHeight="75px"> -->
            <mat-grid-list cols="1">
                <mat-grid-tile *ngFor="let icono of accionPorRol()" [routerLink]="[icono.nombre]" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
                    {{icono.src}}
                     </span>
                </mat-grid-tile>
                <mat-grid-tile class="cuenta" [routerLink]="['Cuenta']" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
                    account_circle
                     </span>
                </mat-grid-tile>
            </mat-grid-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="contenido">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
  
