<app-userheader (open)="drawer.toggle()" [isOpen]="isOpen"></app-userheader>
<mat-drawer-container class="container">
    <mat-drawer mode="side" #drawer opened>
            <mat-grid-list cols="1">
                <mat-grid-tile *ngFor="let icono of accionPorRol()" [routerLink]="[icono.nombre]" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
                    {{icono.src}}
                     </span>
                </mat-grid-tile>
                <mat-grid-tile [routerLink]="['Cuenta']" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
                    account_circle
                     </span>
                </mat-grid-tile>
            </mat-grid-list>
    </mat-drawer>
    <mat-drawer-content>
            <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
  
