.banner{
    height: 50%;
    text-align: center;
    color: white;
    /* background-color: #F5F3F4; */
    background-image: url("https://images.unsplash.com/photo-1506617420156-8e4536971650?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position-y: center;
}

button{
    border-radius: 5px;
    margin: 8px;
    color: white;
}

.blur{
    backdrop-filter: blur(10px);
    padding: 5em;
}

.mat-mdc-outlined-button{
    color: white;
    border-color: white;
}