* {
    transition: all 0.5s ease-out;
}
  
.banner{
    padding: 2em 10%;
    text-align: center;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

.intro{
    padding: 6em 1em;
}


.titulo{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.sub{
    font-size: 28px;
    margin: 0em 4em;
}

button{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
    padding: 1em 2em;
}

.entrar{
    background-color: #96EEC8;
    margin: 0em 2em 0em 7em;
}

.imagen{
    width:80%;
}