<div class="banner">
    <div class="intro">
        <h1 class="titulo">Optimiza tu tienda,</h1>
        <h1 class="titulo">simplifica tu negocio</h1>
        <div class="sub">
            <p>¡Conecta, gestiona, y prospera!</p><br>
            <button class="entrar" mat-button [routerLink]="['Cuenta']">Entrar</button>
            <button mat-stroked-button [routerLink]="['Cuenta/Registro']">Registrar</button>
        </div>
    </div>
    <!-- <div class="gradient"></div> -->
    <div>
        <!-- <img class="imagen" src="https://img.freepik.com/free-vector/auditor-concept-illustration_114360-24406.jpg?t=st=1718304399~exp=1718307999~hmac=fa32fae03cc55ca3e0839a3a8dbcf4a97b2ad75dd2e7111f6e4c9a4b0bccc718&w=826" alt=""> -->
    </div>
</div>
