:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cuerpo{
    background-image: url(https://img.freepik.com/free-vector/ecommerce-campaign-concept-illustration_114360-8232.jpg?t=st=1718474558~exp=1718478158~hmac=6c14edb53a5e9ac9774fb4829c45013c5f47a9569c6e708047a203e85d288684&w=826);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    display: flex;
    height: 100%;
    flex: 1 1 auto;
    align-items: center;
    padding: 1em;
    justify-content:space-around;
}

@media (max-width: 768px){
    .cuerpo{
        background-image: none;
    }
}