<app-userheader></app-userheader>
<div class="contenido" cols="1">
    <div>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detalles" cols="4">
                    <div class="caja">
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </div>
                    <div class="caja">
                        <p>ID</p>
                        <h2>0001</h2>
                    </div>
                    <div class="caja">
                        <p>Precio</p>
                        <h2>1,00$</h2>
                    </div>
                    <div class="caja">
                        <p>Stock</p>
                        <h2>100u</h2>
                    </div>
                </div>
            </mat-card-content>
          </mat-card>
          <div class="botones">
            <div class="vender">
                <div class="grid-item item1 ajustar">Vendido</div>
                <div class="grid-item item2 ajustar">5</div>
                <div class="grid-item item3 ajustar">+</div>  
                <div class="grid-item item4 ajustar">-</div>
                
            </div>
          </div>
          <div class="botones" cols="2">
            <div class="grid-item mod ajustar">Modificar</div>
            <div class="grid-item res ajustar">Restock</div>
          </div>
    </div>
</div>
<app-barra-menu></app-barra-menu>