.mat-mdc-dialog-title{
    padding: 1em 2em;
    padding-bottom: 0;
    font-size: x-large;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-dialog-content{
    padding: 1em 2em;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-dialog-actions{
    padding: 2em;
    padding-top: 0;
    justify-content: end;
}

input{
    font-family: "Gabarito", sans-serif;
}

button{
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
}

.subir{
    background-color: #96EEC8;
    color: #1E2E35;
    transition: all 0.3s ease-in-out;
}

.subir:enabled{
    background-color: #96EEC8;
    color: #1E2E35;
}

.subir:hover{
    background-color: #1E2E35;
    color: #96EEC8;
}
 