.header{
  display: flex;
  justify-content: space-between;
  padding: 3em;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0;
  text-align: center;
  background-image: linear-gradient(to right,#aae7cd,#1E2E35);
}

.barra{
  cursor: pointer;
  display: flex;
  justify-content:left;
}

h2{
  margin: auto;
  font-size:xx-large;
  font-family: "Gabarito", sans-serif;
}

h3{
  cursor: pointer;
  margin: auto;
  font-size:large;
  color: #aae7cd;
  font-family: "Gabarito", sans-serif;
  transition: all 0.2s ease-in-out;
}

h3:hover{
  color: white;
}

a{
  color: #1E2E35;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: #E3F9ED;
}

mat-icon{
  color: #1E2E35;
  transition: all 0.2s ease-in-out;
}

mat-icon:hover{
  color: white;
}

@media (max-width: 768px){
  h2{
    font-size: large;
  }
  h3{
    font-size: medium;
  }
}