.mat-mdc-dialog-title{
    padding: 1em 2em;
    padding-bottom: 0;
    font-size: x-large;
    text-align: center;
}

.mat-mdc-dialog-content{
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    overflow-y:scroll;
    transition: all 0.3s ease-in-out;
}

.mat-mdc-dialog-actions{
    padding: 2em;
    padding-top: 0;
    justify-content: space-around;
    font-size:medium;
}

.productocarrito{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.mat-mdc-button{
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.mat-mdc-button:hover{
    background-color: rgb(45, 138, 45);
}