.acceder{
    align-items: center;
    justify-content: center;
}

.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
    margin: 0; 
    padding: 4em;
}

.mat-mdc-form-field{
    margin-top: 1em;
}
.mat-mdc-card{
    margin:auto;
    max-width: 500px;
    background-color: transparent;
    backdrop-filter: blur(100px);
    color: white;
    border: #ffffff20 solid 1px;
}

.card-header{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
    /* background-image: linear-gradient(#74101D,#DA1E37); */
    font-family: "Noto Sans", sans-serif;
    color: white;
    border-radius: 3px 3px 0px 0px;
    align-items: center;
    justify-items: start;
}

::ng-deep .mat-text-field.mat-focused .mat-form-field- {
    color: rgb(255, 255, 255)!important;
}

.volver{
    vertical-align: middle;
    color: white;
    font-weight: 500;
}

.mat-mdc-card-title{
    font-size: xx-large;
    align-items: center;
}

.mat-mdc-card-content{
    padding: 1em 2em;
}

.mat-mdc-card-actions{
    padding: 2em;
    justify-content: end;
}

.icon{
    vertical-align: middle;
}

.links{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.enviar{
    padding: 1em;
    font-weight: normal;
    width: 100%;
    height: auto;
}

.enviar:enabled{
    color: white;
    background-color: black;
}
.enviar:disabled{
    background-color: lightgray;
}