.mat-mdc-form-field{
    margin-top: 5px;
}
.mat-mdc-card{
    margin:auto;
    min-width: 500px;
    background-color: white;
}

.card-header{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
    background-image: linear-gradient(to right,#1E2E35,#96EEC8);
    border-radius: 3px 3px 0px 0px;
    align-items: center;
    justify-items: start;
}

.volver{
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

.mat-mdc-card-title{
    font-size: xx-large;
    align-items: center;
    font-family: "Gabarito", sans-serif;
    color: white;
}

.mat-mdc-card-content{
    padding:3em;
    padding-bottom:1em;
}

.mat-mdc-card-actions{
    padding: 1em;
    padding-top: 0;
    justify-content: end;
}

.mat-mdc-label{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-form-field{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
    width: 100%;
}

p{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.icon{
    vertical-align: middle;
}

.links{
    display: flex;
    justify-content: flex-end;
}

a{
    font-family: "Gabarito", sans-serif;
    text-decoration: none;
    color: #1E2E35;
    font-weight: 400;
}

.error{
    font-family: "Gabarito", sans-serif;
    color: red;
}

.enviar{
    padding: 1em;
    font-family: "Gabarito", sans-serif;
    font-weight:600;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.enviar:enabled{
    color: #1E2E35;
    background-color: #96EEC8;
}

.enviar:disabled{
    background-color: lightgray;
}

@media (max-width: 768px){
    .mat-mdc-card{
        min-width: 90vw;
    }
    .mat-mdc-card-title{
        font-size: x-large;
    }
    .volver{
        font-weight: 400;
    }
}