<div class="precios">
    <h2>Lista de precios</h2>
    <p>"Descubre nuestros precios: encuentra detalles sobre nuestra gama de productos</p>
        <p>y tarifas competitivas para optimizar tus decisiones de compra."</p>
    <div class="lista">
        <mat-card class="tarjeta">
            <mat-card-header class="header1">
                <div class="blur">
                    <mat-card-title>Plan Básico - 5$</mat-card-title>
                    <mat-card-subtitle>Gestión de Inventario:</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Controla tus existencias con facilidad.</li>
                    <li>Actualiza y monitorea el stock de productos.</li>
                    <li>Genera órdenes de reposición de manera eficiente.</li>
                    <li>Acceso móvil para gestionar desde cualquier lugar.</li>
                    <li>Soporte estándar incluido.
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button><span class="material-symbols-outlined">shopping_cart</span></button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tarjeta">
            <mat-card-header class="header2">
                <div class="blur">
                    <mat-card-title>Plan Avanzado - 10$</mat-card-title>
                    <mat-card-subtitle>Comunicación con Proveedores:</mat-card-subtitle>
                </div>  
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Todas las funciones del Plan Básico.</li>
                    <li>Comunicación integrada con proveedores.</li>
                    <li>Envía solicitudes de productos directamente.</li>
                    <li>Recibe notificaciones de cambios en inventario y precios.</li>
                    <li>Reportes detallados y análisis de tendencias.</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button><span class="material-symbols-outlined">shopping_cart</span></button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tarjeta">
            <mat-card-header class="header3">
                <div class="blur">
                    <mat-card-title>Plan Premium - 15$</mat-card-title>
                    <mat-card-subtitle>Funcionalidades Avanzadas:</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Todas las funciones del Plan Avanzado.</li>
                    <li>Análisis de datos avanzado para optimizar compras.</li>
                    <li>Integración con sistemas de gestión empresarial (ERP).</li>
                    <li>Soporte prioritario y personalizado.</li>
                    <li>Capacitación y asesoría especializada.</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button><span class="material-symbols-outlined">shopping_cart</span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <hr>
</div>
