.precios{
    text-align: center;
    background-color: #212529;
    padding: 1em;
    color: white;
}

.tarjeta{
    max-width: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 20px,20px,20px;
}

button{
    margin-left: auto;
    margin-right: auto;
}

li{
    text-align: left;
}

.lista{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: stretch;
}

.mat-mdc-card-header{
    justify-content: center;
}
.mat-mdc-card-actions{
    margin-top: auto;
}

img{
    width: auto;
}

hr{
    width:50%;
    border: 0.5px solid white;
}

