.barra-menu{
    display: flex;
    height: 75px;
    background-color: white;
    border-radius: 5px;
}

.mat-button{
    width: 31%;
    /* font-weight: bold; */
    font-size: large;
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    margin: 0 1em 1em 0 ;
}

.contenido{
    margin-bottom: auto;
    height: 100%;
}

.menu{
    padding: 1em;
    background-color: black;
}

.spacer{
    height: auto;
}

.micuenta{
    background-color: white;
    border-radius: 5px;
    padding: 1em 3em 1em 2em;
    margin: 0 0 16px 0;
    text-decoration: none;
    height: auto;
    width: fit-content;
}

a, a:active{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    transition: all 0.1 ease-out;
}

li:hover{
    color: white;
    background-color: green;
} 