<app-userheader></app-userheader>
<div class="contenido">
    <button class="mat-button" mat-raised-button *ngFor="let accion of accionPorRol(role)" [routerLink]="[accion.nombre]">{{accion.nombre}}</button>
</div>
<div class="micuenta">
    <div class="buttoncuenta">
        <h2 class="extrab" [routerLink]="['Mi Cuenta']">Mi cuenta</h2>
        <button class="extrab" mat-button>Informacion personal</button><br>
        <button class="extrab" mat-button>Seguridad</button><br>
        <button class="extrab" mat-button>Cerrar sesion</button>
    </div>
</div>
<app-barra-menu class="barra-menu" [rol]="role"></app-barra-menu>