:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.contenido{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    margin: 1em 3em;
    flex: 1 1 auto;
    align-items: center;
    justify-items: center;
}

.empleado{
    justify-content: center;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
    text-align: center;
}