.mat-mdc-form-field{
    margin-top: 5px;
}

small{
    color: #1E2E35;
}

.mat-mdc-card{
    margin:auto;
    min-width: 600px;
    background-color: #ffffff;
    backdrop-filter: blur(100px);
    color: white;
}

.card-header{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
    background-color: white;
    background-image: linear-gradient(to left,#96EEC8,#2C444E);
    border-radius: 3px 3px 0px 0px;
    align-items: center;
    justify-items: start;
}

.volver{
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

.top{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

.mat-mdc-card-title{
    font-size: xx-large;
    align-items: center;
    font-family: "Gabarito", sans-serif;
    color: white;
}

.mat-mdc-card-content{
    padding: 2em 3em;
    padding-bottom:1em;
}

.mat-mdc-card-actions{
    padding: 1em;
    padding-top: 0;
    justify-content: end;
}

.mat-mdc-form-field{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-option{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-select{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

a{
    text-decoration: none;
    color: #1E2E35;
    font-weight: 400;
}

.icon{
    vertical-align: middle;
}

.enviar{
    padding: 1em;
    font-family: "Gabarito", sans-serif;
    font-weight:600;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.enviar:enabled{
    color: #1E2E35;
    background-color: #96EEC8;
}

.enviar:disabled{
    background-color: lightgray;
}