
<mat-card>
    <div class="card-header">
        <button class="volver" mat-button onclick="history.back()"><span class="material-symbols-outlined volver">arrow_back</span></button>
        <mat-card-title>Formulario de registro</mat-card-title>
    </div>
    <mat-card-content>
        <form [formGroup]="registroForm">
            <div class="top">
                <div>
                    <a>Nombre* </a><br>
                    <div *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)">
                        <small *ngIf="registroForm.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre" />
                    </mat-form-field>
                </div>
                <div>   
                    <a>Teléfono* </a><br>
                    <div *ngIf="registroForm.get('telefono')?.invalid && (registroForm.get('telefono')?.dirty || registroForm.get('telefono')?.touched)">
                        <small *ngIf="registroForm.get('telefono')?.errors?.['pattern']">El teléfono debe tener 9 dígitos.</small>
                        </div>
                    <mat-form-field appearance="outline">
                        <input matInput id="telefono" formControlName="telefono" placeholder="Ingresa tu teléfono" />
                    </mat-form-field><br>
                </div>
            </div>
                <a>Correo*</a> <br>
                <div *ngIf="registroForm.get('correo')?.invalid && (registroForm.get('correo')?.dirty || registroForm.get('correo')?.touched)">
                    <small *ngIf="registroForm.get('correo')?.errors?.['email']">El correo no es válido.</small>
                </div>
                <mat-form-field appearance="outline">
                    <input matInput id="correo" formControlName="correo" placeholder="Ingresa tu correo" />
                </mat-form-field><br> 
                <a>Contraseña* </a><br>
                <div *ngIf="registroForm.get('contrasena')?.invalid && (registroForm.get('contrasena')?.dirty || registroForm.get('contrasena')?.touched)">
                    <small *ngIf="registroForm.get('contrasena')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
                  </div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Crea tu contraseña"  [type]=" hide ? 'password' : 'text'" formControlName="contrasena" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field><br>
                <a>Tipo de usuario*</a><br>
                <div *ngIf="registroForm.get('tipo')?.invalid && (registroForm.get('tipo')?.dirty || registroForm.get('tipo')?.touched)">
                    <small *ngIf="registroForm.get('tipo')?.errors?.['required']">El tipo es obligatorio.</small>
                  </div>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Selecciona un tipo" formControlName="rol">
                        <mat-option value="ESTABLECIMIENTO">Establecimiento</mat-option>
                        <mat-option value="PROVEEDOR">Proveedor</mat-option>
                    </mat-select>
                </mat-form-field>
        </form>
        <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
    </mat-card-content>
    <mat-card-actions>
        <button class="enviar" mat-flat-button [disabled]="!registroForm.valid" type="submit" (click)="enviar()">Registrar <span class="material-symbols-outlined icon">
        login
        </span></button>
    </mat-card-actions>
</mat-card>
