/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Inter';
    src: url('/assets/Inter-VariableFont_slnt,wght.ttf');
}
body{
    background-attachment: fixed;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0;
    font-family: "Gabarito", sans-serif; }
