:host {
    
    font-family: "Inter", sans-serif;
}

.contenido{
    display: grid;
    grid-template-columns: 50% auto;
    /* flex-direction: column;
    flex: 1 1 auto; */
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
}

.busqueda{
    width: 100%;
}

.cesta{
    width: 100%;
}

.listacesta{
    display: flex;
    flex-direction: column;
    padding: 1em 4em;
    overflow-y:scroll;
    min-height: 200px;
    max-height: 500px;
    transition: all 0.3s ease-in-out;
}

.productocarrito{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.mat-mdc-card-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.mat-mdc-card-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.mat-mdc-card-actions button{
    font-size: large;
    padding: 1em;
    background-color: black;
    color: white;
}

.pagar{
    width: 100%;
    font-size: large;
    padding: 1em;
}

.mat-mdc-card-header{
    padding:2em;
    justify-content: center;
}

.mat-mdc-card-title{
    font-size: x-large;
}

.caja{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-size: large;
    text-align: center;
    grid-column: 1;
}

h2{
    font-weight: bold;
}

.precio{
    font-size: large;
}

.vender{
    display: grid;
    grid-template-columns: auto 5em 40px;
    background-color: white;
    border-radius: 5px;
}

.item1{
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 1em;
    color: black;
    background-color: rgb(123, 255, 123);
    border-radius: 5px 0 0 5px;
    transition: all 0.2s ease-in-out;
}

.item1:hover{
    color: white;
    background-color: rgb(39, 206, 39);
}

.ajustar{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    text-align: center;
}