<div class="contenido">
    <form class="buscar">
        <mat-form-field class="busqueda">
          <input type="text"
                 placeholder="Buscar producto"
                 matInput
                 [formControl]="miform"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            @for (producto of filteredOptions | async ; track producto) {
              <mat-option [value]="producto.id">{{producto.id}} | {{producto.nombre}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{ selectedProducto?.nombre || 'Seleccione un producto' }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="detalles" cols="2" *ngIf="selectedProducto">
                <div class="precio">
                  <p>Precio: <b>{{selectedProducto.precioVenta.toFixed(2)}}€</b></p>
                </div>
                <div class="comprar">
                  <button mat-icon-button (click)="addProducto(selectedProducto)"><span class="material-symbols-outlined">shopping_cart</span></button>
                </div>
            </mat-card-content>
          </mat-card>
      </form>

      <!-- //Carrito -->
      <mat-card class="cesta">
        <mat-card-header>
          <mat-card-title>Cesta</mat-card-title>
        </mat-card-header>
        <mat-card-content class="listacesta">
          <div *ngFor="let producto of productos; let i  = index" class="productocarrito">
            <p>{{producto.nombre}}</p><p>{{producto.precioVenta.toFixed(2)}}€</p>
            <button mat-icon-button (click)="updateCantidad(producto, producto.cantidad - 1)">
              <span class="material-symbols-outlined">remove</span>
            </button>
            <p>{{producto.cantidad}}</p>
            <button mat-icon-button (click)="updateCantidad(producto, producto.cantidad + 1)">
              <span class="material-symbols-outlined">add</span>
            </button>
            <button mat-icon-button (click)="deleteProductoCarrito(producto)">
                <span class="material-symbols-outlined">close</span>
            </button>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <a>Total: <b>{{ total() | currency:'EUR':'symbol':'1.2-2' }}</b></a>
          <button *ngIf="total()!= 0" mat-button (click)="clearCarrito()">Pagar</button>
        </mat-card-actions>
      </mat-card>
</div>
