:host {
    font-family: "Gabarito", sans-serif;
    height: 80vh;
    height: auto;
    margin: 1em;
}

.contenido{
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1em;
    align-items: start;
}

.busqueda{
    width: 100%;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.cesta{
    background-color: #1E2E35;
    width: 100%;
}

.listacesta{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    overflow-y:scroll;
    height: 65vh;
    transition: all 0.3s ease-in-out;
}

.listacesta::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 10px;
}

.listacesta::-webkit-scrollbar-thumb {
    background-color: #aae7cd;
    border-radius: 10px;
}

.listacesta::-webkit-scrollbar-button {
    display: none;  
}

.todos{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    overflow-y:scroll;
    height: 70vh;
    transition: all 0.3s ease-in-out;
}

.todos::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
}

.todos::-webkit-scrollbar-thumb {
    background-color: #1E2E35;
    border-radius: 10px;
}

.todos::-webkit-scrollbar-button {
    display: none;  
}

.prod{
    width: 100%;
}

.precioitem{
    display: flex;
    align-items: center;
}

hr{
    border: #1E2E35 ;
}

.productocarrito{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 0em;
}

.datos{
    display: flex;
}

.acciones{
    display: flex;
    align-items: end;
}

.mat-mdc-card-content{
    display: flex;
    align-items: flex-end;
}

.mat-mdc-card-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-family: "Gabarito", sans-serif;
    color: white;

}

.mat-mdc-card-actions button{
    font-size: large;
    padding: 1em;
    background-color: #aae7cd;
    color: #1E2E35;
    font-family: "Gabarito", sans-serif;
}

.pagar{
    width: 100%;
    font-size: large;
    padding: 1em;
}

.mat-mdc-card-header{
    padding:2em;
    justify-content: center;
}

.mat-mdc-card-title{
    font-size: xx-large;
    font-family: "Gabarito", sans-serif;
    color: #aae7cd;
}

.caja{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-size: large;
    text-align: center;
    grid-column: 1;
}

h2{
    font-weight: bold;
}

.precio{
    font-size: large;
}

@media (max-width: 768px) {
    .contenido {
        grid-template-columns: 1fr;
    }

    .cesta {
        grid-column: 1;
        grid-row: 2;
    }

    .buscar {
        grid-column: 1;
        grid-row: 1;
    }

    .todos{
        height: 40vh;
    }

    .listacesta{
        height: 15vh;
    }
}

@media (min-width: 769px) {
    .contenido {
        grid-template-columns: 3fr 2fr;
    }
}