<div class="barra">
    <mat-grid-list [cols]="role == 'Establecimiento'? 5 : 3" rowHeight="75px">
        <mat-grid-tile *ngFor="let icono of accionPorRol()" [routerLink]="[icono.nombre]" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
            {{icono.src}}
             </span>
        </mat-grid-tile>
        <mat-grid-tile [routerLink]="['Cuenta']" [routerLinkActive]="'active'"><span class="material-symbols-outlined">
            account_circle
             </span>
        </mat-grid-tile>
    </mat-grid-list>
</div>