.barra{
    padding: 1em 6em;
    background-color: #1E2E35;
}

.mat-grid-list{
    /* background-color: white; */
    background-color: #1E2E35;
    border-radius: 3px;
    /* transition: all 0.2s ease-in-out; */
}

/* .mat-grid-list:hover{
    background-color: black;
    color: white;
} */

button{
    border: none;
    /* background-color: white; */
    background-color: #1E2E35;
}

button:hover{
    border: none;
    background-color: white;
}

.mat-grid-tile{
    border: none;
    /* background-color: white; */
    background-color: #1E2E35;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.mat-grid-tile:hover{
    color: white;
    background-color: black;
}

.active{
    background-color: black;
    color: white;
}