<div class="barra">
    <mat-grid-list rowHeight="75px">
        <mat-grid-tile><span class="material-symbols-outlined">
            barcode_scanner
            </span></mat-grid-tile>
        <mat-grid-tile><span class="material-symbols-outlined">
            list
            </span></mat-grid-tile>
        <mat-grid-tile><span class="material-symbols-outlined">
            monitoring
            </span></mat-grid-tile>
        <mat-grid-tile><span class="material-symbols-outlined">
            groups
            </span></mat-grid-tile>
        <mat-grid-tile><span class="material-symbols-outlined">
            account_circle
            </span></mat-grid-tile>
    </mat-grid-list>
</div>