<mat-card>
    <div class="card-header">
        <mat-card-title>Mi cuenta</mat-card-title>
        <button class="editar" mat-icon-button (click)="toggleReadOnly()">
            <span class="material-symbols-outlined">
                {{ isReadOnly ? 'edit' : 'close' }}
            </span>
        </button>
    </div>
    <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="enviar()">
            Nombre: <br>
            <mat-form-field appearance="outline">
                <input matInput formControlName="nombre" [value]="user?.nombre" [readonly]="isReadOnly" required>
            </mat-form-field><br>
            Telefono: <br>
            <mat-form-field appearance="outline">
                <input matInput formControlName="telefono" [value]="this.user?.telefono" [readonly]="isReadOnly" required>
            </mat-form-field><br>
            Correo: <br>
            <mat-form-field appearance="outline">
                <input matInput formControlName="correo" [value]="this.user?.email" [readonly]="isReadOnly" required>
            </mat-form-field><br>
            Contraseña: <br>
            <mat-form-field appearance="outline">
                <input matInput [type]=" hide ? 'password' : 'text'" formControlName="password" [value]="this.user?.nombre" [readonly]="isReadOnly" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="modificar" mat-flat-button [disabled]="!registerForm.valid || isReadOnly" type="submit" (click)="enviar()">Modificar <span class="material-symbols-outlined icon">
        login
        </span></button>
    </mat-card-actions>
  </mat-card>