.mat-mdc-card{
    margin:auto;
    max-width: 600px;
}

.cuenta{
    vertical-align: middle;
    font-weight: 500;
    font-size: 3em;
}

.card-header{
    display:flex;
    padding: 2em;
    padding-bottom: 0;
    /* color: white; */
    border-radius: 3px 3px 0px 0px;
    align-items: center;
    justify-content: space-between;
}

.mat-mdc-card-title{
    font-size: xx-large;
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.mat-mdc-card-content{
    padding:1em 4em;
}

.mat-mdc-card-actions{
    padding: 2em;
    padding-top: 0;
    justify-content: end;
}

.mat-mdc-form-field{
    font-family: "Gabarito", sans-serif;
    color: #1E2E35;
}

.icon{
    vertical-align: middle;
}

.modificar{
    padding: 2em;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.modificar:enabled{
    color: #1E2E35;
    background-color: #96EEC8;
}
.modificar:disabled{
    background-color: lightgray;
}